      <div class="thumbnail">
        <div class="caption">
          <p><%= cap.drink %></p>
          <%= image_tag (cap.image || "http://placehold.it/200/200"), class: "icon" %>
          <p><small>from <%= cap.brand %>, by <%= cap.parent %></small></p>
          <i class="fa fa-star" style="color:yellow;"></i>
          <% cap.cap_detail_list.each do |tag| %>
            <a href=<%= tag_path(tag) %> class="btn btn-xs btn-default"><%= tag %></a>
          <% end %>
        </div>
      </div>